@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inria Sans', sans-serif;
    
    ;
}
.mycontainer{
    height: 100vh;
    display: grid;
    grid-template-areas:
    "header  header header header header header"
    /* "header  header header header header header" */
    "sidebar mainbar mainbar mainbar mainbar mainbar"
    "sidebar mainbar mainbar mainbar mainbar mainbar"
    "sidebar mainbar mainbar mainbar mainbar mainbar"
    "sidebar mainbar mainbar mainbar mainbar mainbar"
    "sidebar mainbar mainbar mainbar mainbar mainbar"
    "sidebar mainbar mainbar mainbar mainbar mainbar"
    "sidebar mainbar mainbar mainbar mainbar mainbar"
    "sidebar mainbar mainbar mainbar mainbar mainbar"
    "sidebar mainbar mainbar mainbar mainbar mainbar"
}
#header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    background-color: #111526;
}

/* SIDEBAR */
.sidebar{
    grid-area: sidebar;
    background-color: #252650;
    padding: 30px 60px;  
    font-size: 18px;
    color: #4EA8DE;
}

.Htitle , .Ptitle {
    display: flex;
    border-bottom: 3px solid #4EA8DE;
    padding-left: 3px;
}
.Htitle img , .Ptitle img {
    width:35px;
    align-content: center;
    margin-right: 6px;
}
.btns ,.projects{
    margin: 20px 26px;
    margin-right: 0px;
}
.btn{
    margin-bottom: 10px;

}
.btn img{
    width: 28px;
    margin-right: 20px;
}
.btn #prjctbtn, .btns button{
    display: flex;
    width: 100%;
    background-color: #252650;
    color: #4EA8DE;
    font-size: 23px;
    font-weight: bold;
    border: none;
    align-items: center;
    text-align: start;
    border-radius: 10px;
    padding: 2px 10px;
    height: 40px;
    margin-bottom: -10px;
}
.btn #prjctbtn:hover , .btns button:hover{
    background-color: #181937;
    cursor: pointer;

}

.add{
    padding-left: 26px;
}
.addbtn{
    display: flex;
    width: 100%;
    color: white;
    font-size: 18px;
    background-color: #5E60CE;
    font-weight: bold;
    border: none;
    align-items: center;
    text-align: start;
    border-radius: 10px;
    padding: 2px 10px;
} 
.addbtn img{
    width: 30px;
    margin-right: 20px;
}
.addbtn:hover{
    background-color: #4EA8DE;
    cursor: pointer;

}
/* DON'T forget to ADD THE "ADD PROJECT DIV" */
/*  */

.addproject{
    /* border: 1px solid #4EA8DE; */
    border-radius: 12px;
    background: #1B1B37;
    height:auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#projectTitle{
    width: 100%;
    font-size: 24px;
    padding: 5px;
    border-radius: 5px;
}
.add-cancel{
    /* border: 1px solid #4EA8DE; */
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 25vh;
    align-self: center;
}
.add-cancel > button{
    font-size: 25px;
    font-weight:500;
    padding: 4px 20px;
    border: none;
}
#addProject{
    background-color: #4EA8DE;
    border-radius: 5px;
}
#cancelProject{
    background-color: #DE4E82;
    border-radius: 5px;
}
#addProject:hover{
    background-color: #3e84af;
    border-radius: 5px;
}
#cancelProject:hover{
    background-color: #af3b66;
    border-radius: 5px;
}
/* Main Bar */
.mainbar{
    grid-area: mainbar;
    padding: 70px 120px;
    background-color: #1C1E31;
    height:100%;
}
.title{
    /* border-bottom: 2px solid #4EA8DE; */
    padding: 5px 8px;
    font-size: 22px;
    color: #4EA8DE;
    width: 85%;
}
.taskbar{
    /* border: 1px solid #4EA8DE; */
    padding: 25px 50px;
    padding-right: 10px;
    width: auto;
    display: grid;
    grid-template-rows: auto;
}
.task{
    background-color: #2b2d5a;
    display: flex;
    align-content: center;
    padding: 12px 30px;
    justify-content: space-between;
    height: auto;
    border-radius: 12px;
    padding-right: 40px;
    margin-bottom: 20px;
}
.taskLeft{
    /* border: 1px solid #4EA8DE; */
    height: fit-content;
    width: 20%;
}
.taskTitle{
    color:#5E60CE;
    font-size: 25px;
    display: flex;
    align-items: center;
}
.taskRight{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #4EA8DE; */
}
.taskTitle > input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.taskDesc{
    color: white;
    width: 90%;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 40px
}
.taskDate{
    color: #ffffff;
    font-size: 18px;
    background-color: #3B3C76;
    padding: 5px 0px;
    border-radius: 8px;
    text-align: center;
    width: 35%;
}
.taskRight .buttons{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.taskRight .buttons button{
    background-color:  #2b2d5a;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 18px;
}
.taskRight .buttons button:hover{
    background-color: #1d1f3f;
    cursor: pointer;
}
.addTask{
    width: 100%;  
    /* border: 1px solid #4EA8DE; */
    margin-top: 10px;
}
.addTaskbtn{
    width: 100%;
    text-align: start;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    font-size: 20px;
    background-color: #5E60CE;
    border: none;
    border-radius: 7px;
    color: #ffffff;
}
.addTaskbtn img{
    margin-right: 10px;
}
.addTaskbtn:hover{
    background-color: #4EA8DE;
    cursor: pointer;
}


/* Modal */
.modal{
    width: 600px;
    height: 530px; 
    position: absolute;
    transform: translate(-50%,-50%);    
    top: 50%;
    left: 50%;
    border: none;
    border-radius: 12px;
    background-color: #2c2e58;


}
.modal::backdrop{
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.modal header{
    padding: 5px 15px;
    border: none;
    height: 60px;
    align-content: center;
    background-color: #1f2042;
    border-radius: 12px 12px 0px 0px;
    font-size: 25px;
    font-weight: bold;
    color: #4EA8DE;
}
.modal form{
    height: auto;
    padding: 40px 60px;
}
.title-form, .Desc-form, .Date-form{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.dateform{
    display: flex;
    width: 100%;
    align-content: center;
}
.dateform input , .title-form input , .Desc-form textarea{
    width: 100%;
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
}
label{
    font-size: 23px;
    font-weight: bold;
    color: #4EA8DE;
}
#Desc{
    height: 100px;
    padding: 3px;
}
.form{
    margin-bottom: 10px;
}
.submit{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.submit button{
    width: 120px;
    height: 40px;
    font-size: 25px;
    border-radius: 6px;
    border: none;
}
#Add{
    background-color: #4EA8DE;
}
#cancel{
    background-color: #DE4E82;
}
#Add:hover{
    background-color: #3d82ad;
}
#cancel:hover{
    background-color: #a3385f;
}