@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inria Sans', sans-serif;
    display: grid;
    grid-template-areas:
    "header header header header"
    "sidebar mainbar mainbar mainbar"
    "sidebar mainbar mainbar mainbar"
    ;
}
#header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px;
    background-color: #111526;
}
.sidebar{
    grid-area: sidebar;
    background-color: #252650;
    height: 85.2vh;
    padding: 30px 60px;  
    font-size: 26px;
}
.mainbar{
    grid-area: mainbar;
}
